.card{
  display: inline-block;
  width: 200px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  font-family: arial;
  margin-right: 16px;
}

img{
  width: 200px;
  height: 250px;
  object-fit: cover;
}

p{
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 8px;
}

.name{
  font-weight: bold;
}

.friends{
  font-size: 12px;
  color: rgb(150, 150, 150);
}

.add{
  color: white;
  background-color: rgb(15, 132, 179);
  border: none;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
}