p{
  font-size: 30px;
  font-family: arial;
  margin-bottom: 20px;
}

input{
  display: block;
  border: none;
  background-color: rgb(240, 240, 240);
  font-size: 12px;
  font-family: arial;
  margin-bottom: 4px;
  width: 260px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.request{
  color: white;
  background-color: black;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 24px;
  font-family: arial;
}

.later{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: rgb(240, 240, 240);
  border: none;
  margin-left: 12px;
  font-family: arial;
}