p{
  font-family: arial;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 0;
}

.title{
  font-size: 30px;
  font-weight: bold;
}

.link{
  color: rgb(0, 153, 255);
  cursor: pointer;
}

.link:hover{
  text-decoration: underline;
}