p{
  font-family: arial;
  font-size: 16px;
  color: rgb(100, 100, 100);
  margin-top: 0;
  margin-bottom: 0px;
}

.currency{
  font-size: 32px;
  color: black;
  margin-right: 8px;
}

.growth{
  color: green;
  margin-top: 5px;
  margin-bottom: 8px;
}

.red{
  color: red;
}