.image{
  width: 40px;
  height: 40px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

.text-box{
  font-size: 18px;
  font-family: arial;
  border: none;
  width: 300px;
  vertical-align: middle;
}

.tweet{
  color: white;
  font-size: 16px;
  font-family: arial;
  font-weight: bold;
  background-color: rgb(29, 155, 240);
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 6px;
  padding-top: 6px;
  border: none;
  border-radius: 17px;
  vertical-align: middle;
}